/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "bootstrap-sprockets";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

 /*Collapsable navbar*/

 .navbar-default .navbar-nav > li > a {
     color: #A0522D;
     font-size: 26px;
     line-height: 100px;
     min-height: 35px;
     max-height: 35px;
     padding-top: 0;
     font-family: 'Abril Fatface';
 }

 .has-tooltip {
   text-decoration: none;
   color: #A0522D;
   font-size: 26px;
   line-height: 100px;
   height: 100px;
   padding-top: 0;
   font-family: 'Abril Fatface';
   padding: 10px;
 }

 .has-tooltip > a {
   text-decoration: none;
   color: #A0522D;
   font-size: 26px;
   line-height: 100px;
   height: 100px;
   padding-top: 0;
   font-family: 'Abril Fatface';
 }


 .navbar-default .navbar-brand {
     color: #A0522D;
  }


 .navbar-brand {
   font-family: 'Permanent Marker', cursive;
   color: #A0522D;
   line-height: 100px;
   height: 100px;
   padding-top: 0;
   font-size: 40px;
 }
 .navbar-default {
     background-color: #EEE8AA;
 }

 .nav-stacked {
   font-size: 30px;
   color: #A0522D;
 }
 .nav-stacked > a {
   font-size: 30px;
   color: #A0522D;
 }

 body {
  padding-top: 35px;
  background: url(http://www.twitterevolutions.com/bgs/twitter-background-grungy-green-wall.jpg) no-repeat center center fixed; 
  background-size: cover;
 }
